# Copy to .env and replace with your backend API URLs
EXPO_PUBLIC_LOGIN_API_URL=http://custech.co/api/call-tracker/admin/auth/login
EXPO_PUBLIC_SIGNUP_API_URL=http://custech.co/api/call-tracker/admin/auth/signup
